/* Container for the meatball menu */
.meatball-menu-container {
    position: absolute;
    top: 18px;
    right: 13px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Meatball button style */
.meatball-menu-btn {
    background: none;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;   
    box-sizing: border-box;
}

.meatball-menu-btn:hover {
    background-color: rgba(182, 182, 182, 0.307);
}

.meatball-menu-btn:focus {
    outline: none;
}

.meatball-menu-btn .dot {
    width: 4px;
    height: 4px;
    background-color: #333;
    border-radius: 50%;
    margin: 2px 0;
    display: inline-block;
}

/* Hidden by default */
.meatball-menu {
    display: none;
    position: absolute;
    /* overflow: hidden; */
    top: 100%;
    right: -16px;
    width: 125px;
    background-color: #6e72c1e0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px 0;
    z-index: 999;
}

.class-card .meatball-menu,
.course-card .meatball-menu {
    width: 150px;
}

.meatball-menu a {
    color: white;
    padding: 8px 12px;
    text-decoration: unset;
    display: flex;
    gap: 10px;
    white-space: nowrap;
    transition: 100ms ease-in;
}

.meatball-menu a:hover {
    background-color: #6e72c1;
    border-left: 2px solid white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-decoration: unset;
    color: white;
}

/* Show the menu when the button is clicked */
.meatball-menu-container.show .meatball-menu {
    display: block;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 6px solid #6e72c1e0;
    position: absolute;
    right: 20px;
    top: -6px;
    z-index: 999;
}